# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/

# User-specific
xcuserdata/
*.xcuserstate

# Build
build/
DerivedData/
*.xcarchive
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
*.swiftpm
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/
*.podspec

# Carthage
Carthage/Build/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Instruments
*.trace

# Code coverage
*.gcda
*.gcno

# Archives & Exports
*.app.zip
*.dmg

# Temporary
*.swp
*.swo
*~
